/* Custom Values */
:root {
	--color-background: #58595A;
	--color-text: #ffffff;
	--color-button: #ea0116;
	--color-highlight: #ea0116;
	--color-success: #63A615;

	--font-size-small: 1rem;
	--font-size-medium: 1.5em;
	--font-size-large: 3em;
	--font-size-xxlarge: 4em;
	--font-size-huge: 7em;
}

/* Reset defaults */
body {
	margin: 0px 0px 0px 0px;
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav,
header {
	align-self: end;
}

section {
	max-width: 750px;
}


/* Fonts */

@font-face {
	font-family: "Fira Regular";
	src:
		url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Fira Bold";
	src:
		url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Archivo Black";
	src:
		url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
}

/* Text Fonts */
p,
label {
	font-family: "Fira Regular", "Courier New", monospace;
	font-size: var(--font-size-small);
	color: var(--color-text);
	text-align: center;
}

a {
	font-family: "Fira";
}

button {
	font-family: "Fira Bold", "Courier New", monospace;
	margin: 10px;
	color: var(--color-highlight);
	background-color: var(--color-text);
	border-color: #000000;
	padding: 20px;
	border-radius: 25px;
	letter-spacing: .05em;
	width: 200px;
	text-align: center;
}

/* Headings */

h1,
h2 {
	font-family: "Archivo Black", Times, serif;
	font-size: var(--font-size-large);
	text-transform: uppercase;
	color: var(--color-text);
}

h2 {
	font-size: var(--font-size-medium);
}

/* Text Highlight */

.highlight {
	color: var(--color-highlight);
	border-color: solid #000000;
	background-color: var(--color-text);
	border-radius: 20px;
	padding: 10px;
}

.strong {
	font-family: "Archivo Black", Times, serif;

}

.head {
	margin-right: 5px;
}

/* Input Fields */
input {
	width: 100%;
	padding: 17px;
	font-family: "Fira Regular", "Courier New", monospace;
	border-radius: 6px;
}

label {
	padding-bottom: 15px;
}

/* Button styling */

.btn-red {
	background-color: var(--color-highlight);
	border-color: var(--color-highlight);
	color: var(--color-text);
}

.close {
	display: flex;
	width: 20px;
	height: 20px;
	align-items: center;
	justify-content: center;
}

.small {
	width: 10px;
	height: 10px;
}

.guess {
	border: solid var(--color-highlight);
	align-self: flex-end;
	width: 100px;
	padding: 10px;
}

/* */
.flex-col {
	display: flex;
	flex-direction: column;
	padding: 45px;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.center {
	height: 100vh;
	justify-content: center;
}

.end {
	justify-content: end;
}

.left p {
	text-align: left;
}

/* Icons */
.icon {
	width: 160px;
}

/* Modal */

dialog h1 {
	color: var(--color-success);
}

dialog p {
	color: #000000;
}

dialog button {
	background-color: #000000;
	color: var(--color-text);
}

/* Styling Guesses Table */
body>div {
	font-family: "Fira Regular", "Courier New", monospace;
	font-size: var(--font-size-small);
	text-align: center;
	background-color: white;
	padding: 10px;
	border: 1.5px solid #000000;
	color: #000000;
	margin: 2px 25px;
	width: 90%;
	max-width: 750px;
}